<?xml version="1.0" encoding="utf-8"?>
<!-- 점검(디버그) 빌드에만: 다른 앱처럼 FileProvider 주소 + 읽기 권한을 붙여 '공유하기'를 보내는 시험용 화면 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".TestSendActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>
</manifest>
